.section {
    display: flex;
    background-color: #f25a70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
    justify-content: space-around; /*mundança no alinhamento*/
}

.section .main-title {
    margin-bottom: 100px;
}